

# Update above --extra-index-url according to your device.

## Nvidia GPU
# CUDA 12.1 : https://download.pytorch.org/whl/cu121
# CUDA 12.4 : https://download.pytorch.org/whl/cu124

## Intel GPU
# https://download.pytorch.org/whl/xpu


# Manual torch install: pip install --upgrade --force-reinstall torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
# then run pip install -r requirements.txt

#torch --index-url https://download.pytorch.org/whl/cu121 
#torchaudio --index-url https://download.pytorch.org/whl/cu121
onnxruntime-gpu
audio-separator[gpu]
git+https://github.com/jhj0517/jhj0517-whisper.git
faster-whisper
transformers
gradio
gradio-i18n
pytubefix
ruamel.yaml
pyannote.audio
git+https://github.com/jhj0517/ultimatevocalremover_api.git
git+https://github.com/jhj0517/pyrubberband.git
selenium
beautifulsoup4
lxml
pywidevine

